.expense-form{
  padding: 34px 30px;
  background: #171716;
  border: 1px solid #363533;
  display: flex;
  flex-direction: column;
}

.expense-form h2 {
  margin: 0 0 28px;

  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #a5a5a5;
}